*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
header{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #302f2f;
    box-shadow: 0px 4px 25px -22px black;
    z-index: 2;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    height: 50px;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}
.header-content h5{
    color: #fff;
    display: flex;
    max-height: 30px;
    position: relative;
    margin-top: 20px;
    margin-right: 130px;
    margin-bottom: 70px;
    text-align: center;
    justify-content: center;
    
}

.menu{
    height: 50px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;

}
.menu nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
}
#compra{
    color: #3fdf3f;

}
.menu nav ul li a:hover{
    color: #141313;
}

#icon-menu{
    width: 50px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 12px;
    padding: 10px;
    font-size: 20px;
    background: #dea232;
    border-radius: 100%;
    color: #58423a;
    display:none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
#icon-menu:hover{
    opacity: 0.8;

}
.container-portada{
    width: 100%;
    height: 500px;
    position: relative;
    
    background-image: url(../Img/Aguas-mediano.jpg);
    background-position: center;
    background-size: cover;
}
.container-portada::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #14131383;
    position: absolute;
    top: 0px;
    left: 0px;
    
}
.container-portada-texto{
    max-width: 600px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: end;
    color: #fff;
    margin-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    z-index: 1;
    align-items: self-end;
}
#trans{
    border-color: #fff;
    background-color: #14131300;

}
#verde{
    background-color: #3fdf3f;
}
.tarjetas{
    position: relative;
    margin-top: 20px;
}
.oradores1{
    text-align: center;
    font-weight: lighter;
    color: rgb(81, 80, 80);
}
.oradores2{
    text-align: center;
}
.card-group {
    margin: 100px 150px 20px;
    
}
.card{
    margin: -80px 10px 0px 10px;
    padding: 1px;
    border: gray solid 1px;
}
h6{
    display: inline-block;
    margin-right: 10px;

}
.java{
    color: black;
    background-color: #ffff00;
    padding: 5px;
    border-radius: 5px;

}
.react{
    background-color: rgb(56, 200, 200);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.negocios{
    background-color: grey;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}
.startups {
    background-color: rgb(248, 62, 62);
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.fototexto{
    
    display: flex;
}
.flex-container{
    display: flex;
}
.hawai{
    
    height: auto;
    order: 1;
    
    
    
    
    
}

.octubre{

    order: 2;
    background-color: rgb(74, 73, 73);
    color: #ffffff;
    
    padding: 1rem;
    
    font-size: smaller;
    
}
.conoce{
    border-color: #fff;
    
    
    
    
}


    

.formulario { 
    
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.row{
    position: relative;
    padding: 0% 20% 0% 20%;
}
.form-floating{
    display: flex;
    position: relative;
    margin-top: 10px;
    
    
}
.enviar{
    background-color: rgb(119, 237, 119);
    border-radius:3%;
    margin-bottom: 10px;
}
    

.footer{
    background-color: rgb(8, 57, 70);
    width: 100%;
    display: flex;
    
}

.abajo {
    display: list-item;
   
    text-decoration: none;
    
    
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}




.nav-item a:hover{
    color: aqua;
}


